@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Mono', monospace;
  background: #fff;
  color: #000;
}

body {
  font-weight: 400;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  @keyframes diagonalStripes {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
  }

  .diagonal-stripes {
    background: repeating-linear-gradient(
      45deg,
      #000 0 10px,
      #7E3AF2 10px 20px
    );
    background-size: 200% 200%;
    animation: diagonalStripes 1s linear infinite;
    color: #fff; /* ensures text is visible over the stripes */
  }
}
